In [43]:
import pandas as pd

In [44]:
df = pd.read_excel("florida_county_map.xlsx")
df

          NAME  CLINICS_NUMBER
0      Alachua               2
1        Baker               0
2          Bay               0
3     Bradford               0
4      Brevard               0
..         ...             ...
62       Union               0
63     Volusia               0
64     Wakulla               0
65      Walton               0
66  Washington               0

[67 rows x 2 columns]

In [45]:
df["name"] = '"' + df["NAME"] + " County" + '"' + ":"

In [46]:
df.name

0        "Alachua County":
1          "Baker County":
2            "Bay County":
3       "Bradford County":
4        "Brevard County":
              ...
62         "Union County":
63       "Volusia County":
64       "Wakulla County":
65        "Walton County":
66    "Washington County":
Name: name, Length: 67, dtype: object

In [47]:
df["combined"] = df["name"] + df["CLINICS_NUMBER"].astype(str) + ","

In [48]:
df["select"] = "<option>" + df["NAME"] + " County" + "</option>"

In [49]:
df

,NAME,CLINICS_NUMBER,name,combined,select
0,Alachua,2,"""Alachua County"":","""Alachua County"":2,",<option>Alachua County</option>
1,Baker,0,"""Baker County"":","""Baker County"":0,",<option>Baker County</option>
2,Bay,0,"""Bay County"":","""Bay County"":0,",<option>Bay County</option>
3,Bradford,0,"""Bradford County"":","""Bradford County"":0,",<option>Bradford County</option>
4,Brevard,0,"""Brevard County"":","""Brevard County"":0,",<option>Brevard County</option>
...,...,...,...,...,...
62,Union,0,"""Union County"":","""Union County"":0,",<option>Union County</option>
63,Volusia,0,"""Volusia County"":","""Volusia County"":0,",<option>Volusia County</option>
64,Wakulla,0,"""Wakulla County"":","""Wakulla County"":0,",<option>Wakulla County</option>
65,Walton,0,"""Walton County"":","""Walton County"":0,",<option>Walton County</option>
66,Washington,0,"""Washington County"":","""Washington County"":0,",<option>Washington County</option>

In [51]:
#df.to_excel("clean_florida_county_map.xlsx")